.welcome {
  height: 100%;
  width: 100%;
  position: relative;
}

.welcome__logo {
  position: absolute;
  top: 28px;
  left: 32px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.welcome__logo-img {
  width: 32px;
  height: 32px;
}

.welcome__logo-text {
  margin-left: 12px;
  font-size: 32px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.9);
}

.welcome__content {
  padding: 98px 0;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
}

.welcome__hero-text {
  max-width: 759px;
  padding: 164px 0 0 106px;
  color: rgba(255, 255, 255, 0.9);
}

.welcome__title {
  margin: 0;
  max-width: 721px;
  font-size: 64px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 800;
}

.welcome__subtitle {
  margin: 29px 0 0;
  font-size: 18px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
}
