.dashboard {
  height: 100dvh;
  width: 100%;
  position: relative;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 800;
  box-sizing: border-box;
  padding: 52px 60px;
  display: flex;
  column-gap: 26px;
}

.dashboard__content {
  min-width: 0;
  min-height: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 26px;
  color: white;
}

.dashboard__search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;
}

.dashboard__menu-btn {
  height: 46px;
  width: 54px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 40%;
  cursor: pointer;
  display: none; /* Hidden by default, shown on smaller screens */
}

.dashboard__menu-btn_open {
  background-color: rgba(255, 255, 255, 0.3);
  transition: background-color 0.3s ease;
}

.dashboard__menu-icon {
  width: 24px;
  height: 24px;
}

.dashboard__panel {
  min-width: 0;
  min-height: 0;
  flex: 1;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 24px;
  overflow-y: auto;
  transform: translateX(0);
  transition: transform 0.3s ease;
}

.dashboard__panel_close {
  transform: translateX(-200%);
}

@media screen and (max-width: 900px) {
  .dashboard {
    height: 100svh;
    min-height: 100svh;
    padding: 20px 16px;
    overflow: hidden;
  }

  .dashboard__menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
